

.item-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
    white-space: nowrap;
    overflow-x: auto;
}

@media (max-width: 850px) {
    .item-container{
        flex-direction: column;
        align-items: center;
    }

    .item-container .card{
        width: 250px;
    }
}

.item-container .card {
  display: inline-block;
  max-width: 170px;
  margin: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow-x: auto;
  vertical-align: top;
}

.item-container .card img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
}

.item-container .card p {
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
  color:#007BFF;
}

.item-container .infos-card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-container .infos-card .nationality{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.item-container .infos-card .nationality img.flag{
  width: 50%;
  height: auto;
}

.item-container table{
    margin: auto;
    text-align: left;
}

.item-container table, .item-container table td, .item-container table th{
    padding: 5px;
    border-collapse: collapse;
    border: 1px solid black;
}

.item-container table thead th, .item-container table tfoot th{
    background-color: grey;
}