.header-lineup{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.choice-category-games-lineup button, .choice-category-level-tournament-lineup button{
    background-color: #007BFF;
    color: #f9f9f9;
    border-radius: 10px;
    border: none;
    font-size: 22px;
    padding: 1rem;
}

.choice-category-level-tournament-lineup button{
    font-size: 1rem;
    padding: 10px;
}

.choice-category-games-lineup, .choice-category-level-tournament-lineup{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

@media (max-width: 510px) {
    .choice-category-games-lineup{
        flex-direction: column;
    }
}