.cards-container .cards-name button, .cards-container .cards-character .cards-character-category button{
    background-color: #007BFF;
    color: #f9f9f9;
    border-radius: 10px;
    border: none;
    font-size: 22px;
    padding: 1rem;
}

.cards-container .cards-name, .cards-container .cards-character .cards-character-category{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 2rem;
}

@media (max-width: 910px) {
    .cards-container .cards-name{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
        margin-bottom: 2rem;
    }
}

@media (max-width: 610px) {
    .cards-container .cards-name{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 350px) {
    .cards-container .cards-name, .cards-container .cards-character .cards-character-category{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 2rem;
    }
}

.cards-container .cards-name .cards-character .cards-character-legends{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.cards-container .cards-character .cards-character-legends div img{ 
    width: 80%;
    height: auto;
}

.cards-container .cards-character .cards-character-champions div img{ 
    width: 140%;
    height: auto;
}


.cards-container .cards-character .cards-character-legends, .cards-container .cards-character .cards-character-champions {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 4rem;
    overflow-x: auto;
}

.cards-container .cards-character .cards-character-legends div p, .cards-container .cards-character .cards-character-champions div p{
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    padding: 10px;
}

.cards-container .cards-character .cards-character-legends div, .cards-container .cards-character .cards-character-champions div {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.cards-container .cards-racket, .cards-container .cards-grip, .cards-container .cards-shoe, .cards-container .cards-wristband, .cards-container .select-cards-categories-nutrition-cards, .cards-container .select-cards-categories-workout-cards {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: baseline;
    overflow-x: auto;
}

.cards-container .cards-racket div img, .cards-container .cards-grip div img, .cards-container .cards-shoe div img, .cards-container .cards-wristband div img, .cards-container .select-cards-categories-nutrition-cards div img, .cards-container .select-cards-categories-workout-cards div img{
    width: 100%;
    height: auto;
}

.cards-container .cards-racket div p, .cards-container .cards-grip div p, .cards-container .cards-shoe div p, .cards-container .cards-wristband div p, .cards-container .select-cards-categories-nutrition-cards div p, .cards-container .select-cards-categories-workout-cards div p{
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    padding: 10px;
}

.cards-container .cards-racket div, .cards-container .cards-grip div, .cards-container .cards-shoe div, .cards-container .cards-wristband div, .cards-container .select-cards-categories-nutrition-cards div, .cards-container .select-cards-categories-workout-cards div{
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}